body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cuadrado{
	width: 100px;
	height: 100px;
	background-color: teal;
	animation: animationIn 1s;
}

@keyframes animationIn {
	0% {
		transform: translateY(-3000px);
	}
	60% {
		transform: translateY(30px);
	}
	70% {
		transform: translateY(-15px);
	}
	90% {
		transform: translateY(5px);
	}
}
